@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;1,300&family=Lacquer&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 10px;
}

body {
    margin: 0 auto;
    background-color: #231e24;
    font-family: 'Averia Sans Libre', sans-serif;
}

.container {
    margin: 1% auto;
    width: 80%;
    padding: 2rem;
    background-color: #78c6d3;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-family: 'Lacquer', sans-serif;
    font-size: 4rem;
    text-align: center;
    line-height: 1;
    padding-top: 10px;
}

h2 {
    font-family: 'Lacquer', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 10px;
}

#main-img {
    display: inline-block;
    height: auto;
    width: 30%;
    padding: 3rem;
  }
  
img {
    max-width: 100%;
    max-height: 100%; 
    object-fit: contain;
}

#play-area {
    display: inline-block;
    margin: 0 auto;
    width: 60%;
    height: auto;
    text-align: center;
}

h3 {
    font-family: 'Averia Sans Libre', sans-serif;
    font-size: 2.6rem;
}

button {
    margin-top: 3rem;
    margin-bottom: 2rem;
    border: 3px solid #f11a77;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    text-align: center;
    font-family: 'Lacquer', sans-serif;
    color: white;
    padding: 1rem;
    background: #231e24;
    font-size: 1.5rem;
}

button:hover {
    background: #f11a77;
    border: 3px solid #231e24;
}

#quote-area {
    margin: 0 auto;
    border: 1px solid #f11a77;
    width: 60%;
    border-radius: 16px;
    font-family: 'Averia Sans Libre', sans-serif;
    font-style: italic;
    line-height: 2;
    color: white;
    padding: 3rem;
    background: #231e24;
    font-size: 2rem;
}

#options-area {
    margin-top: 2rem;
}

.options {
    font-family: 'Averia Sans Libre', sans-serif;
    line-height: 2;
    color: #231e24;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

#answer {
    font-family: 'Lacquer', sans-serif;
    line-height: 2;
    color: #231e24;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

p {
    font-family: 'Averia Sans Libre', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

.streaming-services {
    text-align: center;
}

.streaming-services > li {
    display: inline;
}

.streaming-services i {
    font-size: 200%;
    padding: 1% 5%;
    color: #231e24;
}