* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 10px;
}

body {
    background-color: #231e24;
    font-family: 'Averia Sans Libre', sans-serif;
    color: #231e24;
}

.container {
    width: 80%;
    margin: 1% auto;
    padding: 2rem;
    background-color: #78c6d3;
    border-radius: 10px;
}

h1 {
    font-family: 'Lacquer';
    font-size: 4rem;
    text-align: center;
    line-height: 1;
    padding-top: 10px;
}

h2 {
    font-family: 'Lacquer';
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 10px;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    width: 300px;
    padding: 3rem;
  }

  #play-area {
      display: inline-block;
      width: 50%;
      height: auto;
  }

  h3 {
    font-family: 'Averia Sans Libre';
    font-size: 1.1rem;
    text-align: center;
  }

.streaming-services {
    text-align: center;
}

.streaming-services > li {
    display: inline;
}

.streaming-services i {
    font-size: 200%;
    padding: 0 5% 1% 0;
    color: #231e24;
}